.flex-row {
  flex-flow: row wrap;
  display: flex;
  box-sizing: border-box;
}

.flex-column {
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
}

.flex-row-right {
  justify-content: flex-end;
  display: flex;
  box-sizing: border-box;
}